@{
    ViewData["Title"] = "Blockchain";
}

<div class="text-center">
    <h1 class="display-4">Projeto Geração Blockchain</h1>
    <p>Criar um Blockchain e minerar</p>
    <p>Agamenon Sousa Pereira</p>
</div>



